@import 'https://fonts.googleapis.com/css?family=Aldrich';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Aldrich';
  font-size: 18px;
}

#main-section {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.3 ), rgba(255, 122, 0, 0.3), rgba(255, 255, 0, 0.3),
    rgba(122, 255, 0, 0.3), rgba(0, 255, 0, 0.3), rgba(0, 255, 122, 0.3),
    rgba(0, 255, 255, 0.3), rgba(0, 122, 255, 0.3), rgba(0, 0, 255, 0.3),
    rgba(122, 0, 255, 0.3), rgba(255, 0, 255, 0.3), rgba(255, 0, 122, 0.3)
  );
  height: 100vh;
  text-align: center;
}

#main-section h1,
#main-section p{
  position: relative;
  top: 45vh;
  text-shadow: 5px 5px 5px #aaa, -5px 0 5px #ddd;
  line-height: 1.5em;
}
#main-section p {
  color: blue;
}
.iframeHolder{
	position: fixed;
	top: 60vh;
	left: 70vw;
	padding: 0.2em;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	box-shadow: -2px 5px 10px 0 #999, 7px 0px 10px 0 #bbb;
	border: 0;
}
.handle {
	height: 1.5em;
	cursor: pointer;
}
iframe {
	height: 300px;
	width: 450px;
}
.menu {
	position: fixed;
	top: 2em;
	left: 1em;
	width: 12em;
	display: flex;
	flex-direction: column;
	padding: 0.5em 1em 0.5em 1em;
	background-color: rgba(0, 0, 0, 0.01);
	border-radius: 5px;
	border: 0;
	box-shadow: -2px 5px 10px 0 #999, 7px 0px 10px 0 #bbb;	
}
.menu p{
	line-height: 1.75em;
	color: black;
	cursor: pointer;
	font-size: 0.85em;
}
.menu a{
	text-decoration: none;
}
.menu hr{
	margin: 0.5em -0.5em 0.2em -0.5em;
}

